---
import MetaTags from "../components/MetaTags.astro"
---

<!DOCTYPE html>
<html>
  <head>
    <MetaTags />
    <meta http-equiv="refresh" content="0; url=https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
    <title>Certificaciones del Seminario Tecnologico Informatico</title>
  </head>
  <body>
    <p>Redirigiendo a Google Drive...</p>
  </body>
</html>
