<section id='top' class='flex-1 min-h-auto flex flex-col justify-start xl:justify-center xl:min-h-screen'>
	<h1 class='text-primary text-xl xl:text-[53px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-10'>
		<span class='text-6xl lg:text-8xl xl:text-9xl block text-primary'>Seminario</span>
		<span class='max-w-[38rem] m-auto text-primary'>
			Tecnológico 
		</span>
		<span class='max-w-[38rem] m-auto text-primary'>
			Informático
		</span>
	</h1>
	<div class='text-center mt-10 flex justify-center items-center flex-col'>
		<h2 class='animate-fadeIn animate-delay-200 font-extrabold text-4xl lg:text-5xl text-white '>08 de Junio</h2>
	</div>
</section>