---
import SectionTitle from './SectionTitle.astro'
import ScheduleItem from './ScheduleItem.astro'
import { SCHEDULE } from '../data/schedule';
---


<section id='cronograma' class='break-words text-white py-24 mx-auto max-w-prose md:px-2'>
	<SectionTitle title='Cronograma' />
	<small class='text-primary font-semibold -mt-28 block'>Este cronograma está sujeto a cambios</small>
	<h2 class='mt-8 text-2xl font-bold text-white text-center'>8 de Junio</h2>
	<div class='flex flex-col gap-y-10 mt-8'>
		{
			SCHEDULE.map(item => <ScheduleItem {...item} />)
		}
	</div>
</section>