---
import SectionTitle from './SectionTitle.astro'
import SpeakerCard from './SpeakerCard.astro'

const speakers = [
	{
		id: 'lucasdalto',
		name: 'Lucas Dalto',
		title: 'Navegando la Neblina: Inteligencia Artificial y la Incertidumbre Laboral en el Desarrollo de Software',
		description: 'Descubre cómo la inteligencia artificial está transformando el desarrollo de software y cómo enfrentar los desafíos de la incertidumbre laboral en este campo.',
		instagram: 'soydalto',
		linkedin: 'soy-dalto'
	},
	{
		id: 'kokidure',
		name: 'Koki Dure',
		title: 'Graduado en Informática: ¿Y Ahora Qué? Estrategias y Recomendaciones para el Inicio de tu Carrera',
		description: 'Obtén consejos prácticos y estrategias clave para dar tus primeros pasos en la carrera de Informática después de graduarte, desde la búsqueda de empleo hasta el desarrollo profesional.',
		instagram: 'kokidure',
		linkedin: 'kokidure'
	},
	{
		id: 'carlitosvargas',
		name: 'Carlitos Vargas',
		title: 'Flutter: La Opción que Tendrías que Considerar para Dedicarte al Desarrollo',
		description: 'Explora por qué Flutter es una opción destacada para aquellos interesados en el desarrollo de aplicaciones móviles y cómo puede impulsar tu carrera en este campo.',
		instagram: 'vargascarlitos',
		linkedin: 'kalitodev'
	},
	{
		id: 'alejandracanclini',
		name: 'Alejandra Canclini',
		title: 'Tecnología y Ambiente: Experiencias Prácticas de Utilización de Sistemas de Información Geográfica para Abordar Problemas Socioambientales',
		description: 'Conoce casos reales donde la tecnología, especialmente los Sistemas de Información Geográfica, se ha utilizado para abordar problemas socioambientales, destacando la importancia de la tecnología en la conservación del medio ambiente.',
		instagram: 'alecanclini',
		linkedin: 'alejandracanclini1'
	},
	{
		id: 'noheliarios',
		name: 'Nohelia Rios',
		title: 'Proyectos Tecnológicos Implementados dentro de la Agenda Digital Paraguay: Realidad y Desafíos',
		description: 'Explora los proyectos tecnológicos más relevantes dentro de la Agenda Digital de Paraguay, analizando su impacto actual y los desafíos que enfrentan en su implementación.',
		instagram: 'nohelia_rios_garcia',
		linkedin: 'nohelia-rios-garcia-41594165'
	},
	{
		id: 'benortega',
		name: 'Ben Ortega',
		title: 'La Informática: La Clave para una Agricultura y Ganadería Sostenible',
		description: 'Descubre cómo la informática y las tecnologías digitales están revolucionando el sector agrícola y ganadero, promoviendo prácticas más sostenibles y eficientes.',
		instagram: 'bentorres33',
		linkedin: 'benito-ortega-torres-ab3555242'
	},
	{
		id: 'simonbenitez',
		name: 'Simon Benitez',
		title: 'Inteligencia Artificial: ¿Héroe o Villano?',
		description: 'Analiza de manera crítica el impacto de la inteligencia artificial en nuestra sociedad, discutiendo tanto sus beneficios como los desafíos éticos y sociales que plantea.',
		instagram: 'simonandresbenitez',
		linkedin: 'simonbenitezrodas'
	},
]
---

<section
	id='speakers'
	class='break-words text-white py-24 mx-auto max-w-prose md:px-2 min-h-screen mt-28'
>

<SectionTitle title='Speakers' />
	<div class='py-24 flex items-center justify-center flex-col text-center gap-y-8'>
		<ul class='-rotate-[10deg] flex flex-row flex-wrap gap-x-2 text-center items-center justify-center pb-24 mx-0 px-4 lg:-mx-36'>
			{
				speakers.map((speaker, index) => (
					<>
						<li>
							<a
								class='font-black text-2xl md:text-4xl italic text-[#4287f5] hover:text-white hover:scale-125 transition uppercase hover:[text-shadow:0_0_25px_#000]'
								href={`/#${speaker.id}`}
							>
								{speaker.name}
							</a>
						</li>
						{index !== speakers.length - 1 && (
							<li class='font-black text-2xl italic text-primary'>·</li>
						)}
					</>
				))
			}
		</ul>

		<ul>
			{
				speakers.map((speaker) => (
					<li class='min-h-screen'>
						<SpeakerCard speaker={speaker} />
					</li>
				))
			}
		</ul>
	</div>
</section>