---
import SectionTitle from './SectionTitle.astro'
import SpeakerCard from './SpeakerCard.astro'
import { SPEKAERS } from '../data/speakers'
---

<section
	id='speakers'
	class='break-words text-white py-24 mx-auto max-w-prose md:px-2 min-h-screen mt-28'
>

<SectionTitle title='Speakers' />

	<div
		class='py-24 flex items-center justify-center flex-col text-center gap-y-8'
	>
		<ul
			class='-rotate-[10deg] flex flex-row flex-wrap gap-x-2 text-center items-center justify-center pb-24 mx-0 px-4 lg:-mx-36'
		>
			{
				SPEKAERS.map((speaker, index) => (
					<>
						<li>
							<a
								class='font-black text-2xl md:text-4xl italic text-[#4287f5] hover:text-white hover:scale-125 transition uppercase hover:[text-shadow:0_0_25px_#000]'
								href={`/#${speaker.id}`}
							>
								{speaker.name}
							</a>
						</li>
						{index !== SPEKAERS.length - 1 && (
							<li class='font-black text-2xl italic text-primary'>·</li>
						)}
					</>
				))
			}
		</ul>

		<ul>
			{
				SPEKAERS.map((speaker) => (
					<li class='min-h-screen ml-8'>
						<SpeakerCard speaker={speaker} />
					</li>
				))
			}
		</ul>
	</div>
</section>