---
import '@fontsource/montserrat/400.css'
import '@fontsource/montserrat/400-italic.css'
import '@fontsource/montserrat/600.css'
import '@fontsource/montserrat/600-italic.css'
import '@fontsource/montserrat/800.css'
import '@fontsource/montserrat/800-italic.css'
import '@fontsource/montserrat/900-italic.css'

import Navigation from '../components/Navigation.astro';
import Background from '../components/Background.astro'
import MetaTags from '../components/MetaTags.astro'

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<MetaTags />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<div class='flex flex-col xl:flex-row justify-between m-auto xl:gap-x-24 xl:w-[1200px] mt-10 xl:mt-0'>
			<div class='w-full xl:w-52'>
				<Navigation />
			</div>
			<main class='flex-1 relative px-6'>
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Montserrat", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background: #000;
	}
</style>

